<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>service_code</key>
	<dict>
		<key>ls_req</key>
		<integer>1</integer>
		<key>ls_res</key>
		<integer>2</integer>
		<key>ls_l_req</key>
		<integer>3</integer>
		<key>ls_l_res</key>
		<integer>4</integer>
		<key>delta</key>
		<integer>5</integer>
		<key>kbd</key>
		<integer>7</integer>
		<key>kbd_shortcut</key>
		<integer>8</integer>
		<key>mouse</key>
		<integer>9</integer>
		<key>event</key>
		<integer>15</integer>
		<key>caret</key>
		<integer>30</integer>
		<key>settext</key>
		<integer>31</integer>
		<key>appendtext</key>
		<integer>32</integer>
		<key>register_listener</key>
		<integer>33</integer>
		<key>unregister_listener</key>
		<integer>34</integer>
		<key>default_action</key>
		<integer>49</integer>
		<key>focus</key>
		<integer>50</integer>
		<key>focus_precise</key>
		<integer>51</integer>
		<key>foreground</key>
		<integer>52</integer>
		<key>quit</key>
		<integer>100</integer>
	</dict>
	<key>entity_classes</key>
	<dict>
		<key>Screen</key>
		<array>
			<string>screen_height</string>
			<string>screen_width</string>
		</array>
		<key>MouseOrCaret</key>
		<array>
			<string>x_or_starting</string>
			<string>y_or_ending</string>
			<string>button_type</string>
			<string>target_id</string>
		</array>
		<key>KbdOrAction</key>
		<array>
			<string>target_id</string>
			<string>generic_data</string>
		</array>
		<key>Entity</key>
		<array>
			<string>unique_id</string>
			<string>name</string>
			<string>value</string>
			<string>type</string>
			<string>process_id</string>
			<string>states</string>
			<string>top</string>
			<string>left</string>
			<string>height</string>
			<string>width</string>
			<string>child_count</string>
			<string>children</string>
		</array>
		<key>Header</key>
		<array>
			<string>service_code</string>
			<string>timestamp</string>
			<string>process_id</string>
			<string>screen</string>
			<string>kbd_or_action</string>
			<string>mouse_or_caret</string>
		</array>
		<key>Sinter</key>
		<array>
			<string>header</string>
			<string>entity</string>
			<string>updates</string>
			<string>applications</string>
		</array>
	</dict>
	<key>role_mappings</key>
	<dict>
		<key>AXApplication</key>
		<string>application</string>
		<key>AXWindow</key>
		<string>window</string>
		<key>AXImage</key>
		<string>image</string>
		<key>AXSystemWide</key>
		<string>systemWide</string>
		<key>AXSheet</key>
		<string>sheet</string>
		<key>AXDrawer</key>
		<string>collapsible</string>
		<key>AXGrowArea</key>
		<string>unknown</string>
		<key>AXUnknown</key>
		<string>unknown</string>
		<key>AXButton</key>
		<string>button</string>
		<key>AXRadioButton</key>
		<string>radio</string>
		<key>AXCheckBox</key>
		<string>checkbox</string>
		<key>AXPopUpButton</key>
		<string>popupbutton</string>
		<key>AXMenuButton</key>
		<string>menubutton</string>
		<key>AXTabGroup</key>
		<string>tabgroup</string>
		<key>AXTable</key>
		<string>table</string>
		<key>AXColumn</key>
		<string>column</string>
		<key>AXRow</key>
		<string>row</string>
		<key>AXOutline</key>
		<string>tree</string>
		<key>AXBrowser</key>
		<string>tree</string>
		<key>AXScrollArea</key>
		<string>scrollarea</string>
		<key>AXScrollBar</key>
		<string>scrollbar</string>
		<key>AXList</key>
		<string>list</string>
		<key>AXGroup</key>
		<string>group</string>
		<key>AXValueIndicator</key>
		<string>unknown</string>
		<key>AXComboBox</key>
		<string>combobox</string>
		<key>AXSlider</key>
		<string>slider</string>
		<key>AXIncrementor</key>
		<string>incrementor</string>
		<key>AXProgressIndicator</key>
		<string>progressbar</string>
		<key>AXBusyIndicator</key>
		<string>unknown</string>
		<key>AXToolbar</key>
		<string>toolbar</string>
		<key>AXDisclosureTriangle</key>
		<string>unknown</string>
		<key>AXTextField</key>
		<string>textbox</string>
		<key>AXTextArea</key>
		<string>textarea</string>
		<key>AXStaticText</key>
		<string>label</string>
		<key>AXMenuBar</key>
		<string>menubar</string>
		<key>AXMenuBarItem</key>
		<string>menubaritem</string>
		<key>AXMenu</key>
		<string>menu</string>
		<key>AXMenuItem</key>
		<string>menuitem</string>
		<key>AXSplitGroup</key>
		<string>splitter</string>
		<key>AXSplitter</key>
		<string>splitter</string>
		<key>AXColorWell</key>
		<string>colorwell</string>
		<key>AXTimeField</key>
		<string>time</string>
		<key>AXDateField</key>
		<string>date</string>
		<key>AXHelpTag</key>
		<string>help</string>
		<key>AXMatte</key>
		<string>unknown</string>
		<key>AXDockItem</key>
		<string>dock</string>
		<key>AXRuler</key>
		<string>unknown</string>
		<key>AXRulerMarker</key>
		<string>unknown</string>
		<key>AXGrid</key>
		<string>table</string>
		<key>AXCell</key>
		<string>cell</string>
		<key>AXLevelIndicator</key>
		<string>unknown</string>
		<key>AXLayoutArea</key>
		<string>unknown</string>
		<key>AXLayoutItem</key>
		<string>unknown</string>
		<key>AXHandle</key>
		<string>unknown</string>
		<key>AXPopover</key>
		<string>unknown</string>
	</dict>
	<key>ui_attributes</key>
	<dict>
		<key>AXIdentifier</key>
		<string>id</string>
		<key>AXTitle</key>
		<string>name</string>
		<key>NSAccessibilityValueAttribute</key>
		<string>value</string>
		<key>AXSize</key>
		<dict>
			<key>attrs</key>
			<dict>
				<key>width</key>
				<string>width</string>
				<key>height</key>
				<string>height</string>
			</dict>
			<key>enum</key>
			<integer>2</integer>
		</dict>
		<key>AXPosition</key>
		<dict>
			<key>attrs</key>
			<dict>
				<key>y</key>
				<string>y</string>
				<key>x</key>
				<string>x</string>
			</dict>
			<key>enum</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>roles</key>
	<dict>
		<key>application</key>
		<string>application</string>
		<key>button</key>
		<string>button</string>
		<key>cell</key>
		<string>cell</string>
		<key>checkbox</key>
		<string>checkbox</string>
		<key>collapsible</key>
		<string>collapsible</string>
		<key>colorwell</key>
		<string>colorwell</string>
		<key>column</key>
		<string>column</string>
		<key>combobox</key>
		<string>combobox</string>
		<key>date</key>
		<string>date</string>
		<key>dock</key>
		<string>dock</string>
		<key>group</key>
		<string>group</string>
		<key>help</key>
		<string>help</string>
		<key>image</key>
		<string>image</string>
		<key>incrementor</key>
		<string>incrementor</string>
		<key>label</key>
		<string>label</string>
		<key>list</key>
		<string>list</string>
		<key>menu</key>
		<string>menu</string>
		<key>menubar</key>
		<string>menubar</string>
		<key>menubaritem</key>
		<string>menubaritem</string>
		<key>menubutton</key>
		<string>menubutton</string>
		<key>menuitem</key>
		<string>menuitem</string>
		<key>popupbutton</key>
		<string>popupbutton</string>
		<key>progressbar</key>
		<string>progressbar</string>
		<key>radio</key>
		<string>radio</string>
		<key>row</key>
		<string>row</string>
		<key>scrollarea</key>
		<string>scrollarea</string>
		<key>scrollbar</key>
		<string>scrollbar</string>
		<key>sheet</key>
		<string>sheet</string>
		<key>slider</key>
		<string>slider</string>
		<key>splitter</key>
		<string>splitter</string>
		<key>systemWide</key>
		<string>systemWide</string>
		<key>tabgroup</key>
		<string>tabgroup</string>
		<key>table</key>
		<string>table</string>
		<key>textarea</key>
		<string>textarea</string>
		<key>textbox</key>
		<string>textbox</string>
		<key>time</key>
		<string>time</string>
		<key>toolbar</key>
		<string>toolbar</string>
		<key>tree</key>
		<string>tree</string>
		<key>unknown</key>
		<string>unknown</string>
		<key>window</key>
		<string>window</string>
	</dict>
</dict>
</plist>
