<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>support_apps</key>
	<array>
		<string>Calculator</string>
	</array>
	<key>port</key>
	<integer>6832</integer>
	<key>default_passcode</key>
	<integer>123456</integer>
	<key>certificate_filename</key>
	<string>osxsinter.p12</string>
	<key>certificate_passcode</key>
	<string>123456</string>
	<key>xml_logfolder</key>
	<string></string>
	<key>jenkins_output_dir</key>
	<string>/Users/jenkins/workspace/sinter-mac/testoutput</string>
</dict>
</plist>
