<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>service_code</key>
	<dict>
    <key>verify_passcode_req</key>
    <integer>9901</integer>
    <key>verify_passcode_res</key>
    <integer>9902</integer>
		<key>ls_req</key>
		<integer>1</integer>
		<key>ls_res</key>
		<integer>2</integer>
		<key>ls_l_req</key>
		<integer>3</integer>
		<key>ls_l_res</key>
		<integer>4</integer>
    <key>ls_l_res_dialog</key>
    <integer>401</integer>
		<key>delta</key>
		<integer>5</integer>
    <key>delta_subtree_add</key>
    <integer>501</integer>
    <key>delta_subtree_replace</key>
    <integer>502</integer>
    <key>delta_subtree_remove</key>
    <integer>503</integer>
    <key>delta_subtree_expand</key>
    <integer>504</integer>
    <key>delta_subtree_update</key>
    <integer>505</integer>
    <key>delta_subtree_menu</key>
    <integer>506</integer>
    <key>delta_subtree_context_menu</key>
    <integer>507</integer>
    <key>delta_subtree_dialog</key>
    <integer>508</integer>
    <key>delta_subtree_keep</key>
    <integer>509</integer>
    <key>delta_prop_change_name</key>
    <integer>510</integer>
    <key>delta_prop_change_value</key>
    <integer>511</integer>
		<key>kbd</key>
		<integer>6</integer>
		<key>kbd_shortcut</key>
		<integer>601</integer>
		<key>mouse</key>
		<integer>7</integer>
    <key>mouse_click_left</key>
    <integer>701</integer>
    <key>mouse_click_right</key>
    <integer>702</integer>
    <key>mouse_scroll_up</key>
    <integer>703</integer>
    <key>mouse_scroll_down</key>
    <integer>704</integer>
    <key>mouse_move</key>
    <integer>705</integer>
    <key>mouse_caret</key>
    <integer>706</integer>
    <key>action</key>
    <integer>8</integer>
    <key>action_default</key>
    <integer>801</integer>
    <key>action_toggle</key>
    <integer>802</integer>
    <key>action_select</key>
    <integer>803</integer>
    <key>action_rename</key>
    <integer>804</integer>
    <key>action_expand</key>
    <integer>805</integer>
    <key>action_collapse</key>
    <integer>806</integer>
    <key>action_close</key>
    <integer>807</integer>
    <key>action_change_focus</key>
    <integer>808</integer>
    <key>action_change_focus_precise</key>
    <integer>809</integer>
    <key>action_set_text</key>
    <integer>810</integer>
    <key>action_append_text</key>
    <integer>811</integer>
		<key>action_foreground</key>
		<integer>812</integer>
    <key>listener</key>
    <integer>9</integer>
    <key>listener_register</key>
    <integer>901</integer>
    <key>listener_unregister</key>
    <integer>902</integer>
    <key>listener_register_name_change</key>
    <integer>903</integer>
    <key>listener_unregister_name_change</key>
    <integer>904</integer>
    <key>event</key>
    <integer>10</integer>
    <key>event_closed</key>
    <integer>1001</integer>
	</dict>
	<key>entity_classes</key>
	<dict>
		<key>Word</key>
		<array>
			<string>text</string>
			<string>font_name</string>
			<string>font_size</string>
			<string>bold</string>
			<string>italic</string>
			<string>underline</string>
			<string>newline</string>
		</array>
		<key>Screen</key>
		<array>
			<string>screen_height</string>
			<string>screen_width</string>
		</array>
    <key>Params</key>
    <array>
      <string>target_id</string>
      <string>data1</string>
      <string>data2</string>
      <string>data3</string>
    </array>
		<key>Entity</key>
		<array>
			<string>unique_id</string>
			<string>name</string>
			<string>value</string>
			<string>type</string>
      <string>raw_type</string>
			<string>process_id</string>
			<string>states</string>
			<string>top</string>
			<string>left</string>
			<string>height</string>
			<string>width</string>
			<string>child_count</string>
			<string>children</string>
			<string>words</string>
		</array>
		<key>Header</key>
		<array>
			<string>service_code</string>
      <string>sub_code</string>
			<string>timestamp</string>
			<string>process_id</string>
			<string>params</string>
		</array>
		<key>Sinter</key>
		<array>
			<string>header</string>
			<string>entity</string>
			<string>entities</string>
		</array>
	</dict>
	<key>win_control</key>
	<dict>
		<key>application</key>
		<string>unknown</string>
		<key>button</key>
		<string>System.Windows.Forms.Button</string>
		<key>cell</key>
		<string>unknown</string>
		<key>checkbox</key>
		<string>unknown</string>
		<key>collapsible</key>
		<string>unknown</string>
		<key>colorwell</key>
		<string>unknown</string>
		<key>column</key>
		<string>unknown</string>		
		<key>combobox</key>
		<string>System.Windows.Forms.ComboBox</string>
		<key>date</key>
		<string>unknown</string>
		<key>dock</key>
		<string>unknown</string>
		<key>group</key>
		<string>System.Windows.Forms.GroupBox</string>
		<key>help</key>
		<string>unknown</string>
		<key>image</key>
		<string>unknown</string>
		<key>incrementor</key>
		<string>unknown</string>
		<key>label</key>
		<string>unknown</string>
		<key>list</key>
		<string>System.Windows.Forms.ListView</string>
		<key>menu</key>
		<string>unknown</string>
		<key>menubar</key>
		<string>System.Windows.Forms.MenuStrip</string>
		<key>menubaritem</key>
		<string>unknown</string>
		<key>menubutton</key>
		<string>System.Windows.Forms.Button</string>
		<key>menuitem</key>
		<string>unknown</string>
		<key>popupbutton</key>
		<string>unknown</string>
		<key>progressbar</key>
		<string>unknown</string>
		<key>radio</key>
		<string>System.Windows.Forms.RadioButton</string>
		<key>row</key>
		<string>unknown</string>
		<key>scrollarea</key>
		<string>unknown</string>
		<key>scrollbar</key>
		<string>unknown</string>
		<key>sheet</key>
		<string>unknown</string>
		<key>slider</key>
		<string>unknown</string>
		<key>splitter</key>
		<string>unknown</string>
		<key>systemWide</key>
		<string>unknown</string>
		<key>tabgroup</key>
		<string>unknown</string>
		<key>table</key>
		<string>unknown</string>
		<key>textarea</key>
		<string>unknown</string>
		<key>textbox</key>
		<string>System.Windows.Forms.TextBox</string>
		<key>time</key>
		<string>unknown</string>
		<key>toolbar</key>
		<string>System.Windows.Forms.ToolStrip</string>
		<key>tree</key>
		<string>System.Windows.Forms.TreeView</string>
		<key>unknown</key>
		<string>unknown</string>
		<key>window</key>
		<string>System.Windows.Forms.Form</string>
	</dict>
	<key>role_mappings</key>
	<dict>
		<key>AXApplication</key>
		<string>application</string>
		<key>AXWindow</key>
		<string>window</string>
		<key>AXImage</key>
		<string>image</string>
		<key>AXSystemWide</key>
		<string>systemWide</string>
		<key>AXSheet</key>
		<string>sheet</string>
		<key>AXDrawer</key>
		<string>collapsible</string>
		<key>AXGrowArea</key>
		<string>unknown</string>
		<key>AXUnknown</key>
		<string>unknown</string>
		<key>AXButton</key>
		<string>button</string>
		<key>AXRadioButton</key>
		<string>radio</string>
		<key>AXCheckBox</key>
		<string>checkbox</string>
		<key>AXPopUpButton</key>
		<string>popupbutton</string>
		<key>AXMenuButton</key>
		<string>menubutton</string>
		<key>AXTabGroup</key>
		<string>tabgroup</string>
		<key>AXTable</key>
		<string>table</string>
		<key>AXColumn</key>
		<string>column</string>
		<key>AXRow</key>
		<string>row</string>
		<key>AXOutline</key>
		<string>tree</string>
		<key>AXBrowser</key>
		<string>tree</string>
		<key>AXScrollArea</key>
		<string>scrollarea</string>
		<key>AXScrollBar</key>
		<string>scrollbar</string>
		<key>AXList</key>
		<string>list</string>
		<key>AXGroup</key>
		<string>group</string>
		<key>AXValueIndicator</key>
		<string>unknown</string>
		<key>AXComboBox</key>
		<string>combobox</string>
		<key>AXSlider</key>
		<string>slider</string>
		<key>AXIncrementor</key>
		<string>incrementor</string>
		<key>AXProgressIndicator</key>
		<string>progressbar</string>
		<key>AXBusyIndicator</key>
		<string>unknown</string>
		<key>AXToolbar</key>
		<string>toolbar</string>
		<key>AXDisclosureTriangle</key>
		<string>unknown</string>
		<key>AXTextField</key>
		<string>textbox</string>
		<key>AXTextArea</key>
		<string>textarea</string>
		<key>AXStaticText</key>
		<string>label</string>
		<key>AXMenuBar</key>
		<string>menubar</string>
		<key>AXMenuBarItem</key>
		<string>menubaritem</string>
		<key>AXMenu</key>
		<string>menu</string>
		<key>AXMenuItem</key>
		<string>menuitem</string>
		<key>AXSplitGroup</key>
		<string>splitter</string>
		<key>AXSplitter</key>
		<string>splitter</string>
		<key>AXColorWell</key>
		<string>colorwell</string>
		<key>AXTimeField</key>
		<string>time</string>
		<key>AXDateField</key>
		<string>date</string>
		<key>AXHelpTag</key>
		<string>help</string>
		<key>AXMatte</key>
		<string>unknown</string>
		<key>AXDockItem</key>
		<string>dock</string>
		<key>AXRuler</key>
		<string>unknown</string>
		<key>AXRulerMarker</key>
		<string>unknown</string>
		<key>AXGrid</key>
		<string>table</string>
		<key>AXCell</key>
		<string>cell</string>
		<key>AXLevelIndicator</key>
		<string>unknown</string>
		<key>AXLayoutArea</key>
		<string>unknown</string>
		<key>AXLayoutItem</key>
		<string>unknown</string>
		<key>AXHandle</key>
		<string>unknown</string>
		<key>AXPopover</key>
		<string>unknown</string>
	</dict>
	<key>ui_attributes</key>
	<dict>
		<key>AXIdentifier</key>
		<string>id</string>
		<key>AXTitle</key>
		<string>name</string>
		<key>NSAccessibilityValueAttribute</key>
		<string>value</string>
		<key>AXSize</key>
		<dict>
			<key>attrs</key>
			<dict>
				<key>width</key>
				<string>width</string>
				<key>height</key>
				<string>height</string>
			</dict>
			<key>enum</key>
			<integer>2</integer>
		</dict>
		<key>AXPosition</key>
		<dict>
			<key>attrs</key>
			<dict>
				<key>y</key>
				<string>y</string>
				<key>x</key>
				<string>x</string>
			</dict>
			<key>enum</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>roles</key>
	<dict>
		<key>application</key>
		<string>application</string>
		<key>button</key>
		<string>button</string>
		<key>cell</key>
		<string>cell</string>
		<key>checkbox</key>
		<string>checkbox</string>
		<key>collapsible</key>
		<string>collapsible</string>
		<key>colorwell</key>
		<string>colorwell</string>
		<key>column</key>
		<string>column</string>
		<key>combobox</key>
		<string>combobox</string>
		<key>date</key>
		<string>date</string>
		<key>dock</key>
		<string>dock</string>
		<key>group</key>
		<string>group</string>
		<key>help</key>
		<string>help</string>
		<key>image</key>
		<string>image</string>
		<key>incrementor</key>
		<string>incrementor</string>
		<key>label</key>
		<string>label</string>
		<key>list</key>
		<string>list</string>
		<key>menu</key>
		<string>menu</string>
		<key>menubar</key>
		<string>menubar</string>
		<key>menubaritem</key>
		<string>menubaritem</string>
		<key>menubutton</key>
		<string>menubutton</string>
		<key>menuitem</key>
		<string>menuitem</string>
		<key>popupbutton</key>
		<string>popupbutton</string>
		<key>progressbar</key>
		<string>progressbar</string>
		<key>radio</key>
		<string>radio</string>
		<key>row</key>
		<string>row</string>
		<key>scrollarea</key>
		<string>scrollarea</string>
		<key>scrollbar</key>
		<string>scrollbar</string>
		<key>sheet</key>
		<string>sheet</string>
		<key>slider</key>
		<string>slider</string>
		<key>splitter</key>
		<string>splitter</string>
		<key>systemWide</key>
		<string>systemWide</string>
		<key>tabgroup</key>
		<string>tabgroup</string>
		<key>table</key>
		<string>table</string>
		<key>textarea</key>
		<string>textarea</string>
		<key>textbox</key>
		<string>textbox</string>
		<key>time</key>
		<string>time</string>
		<key>toolbar</key>
		<string>toolbar</string>
		<key>tree</key>
		<string>tree</string>
		<key>unknown</key>
		<string>unknown</string>
		<key>window</key>
		<string>window</string>
	</dict>
  <key>control_types_windows</key>
  <dict>
    <key>Button</key>
    <string>Button</string>
    <key>Calendar</key>
    <string>Calendar</string>
    <key>CheckBox</key>
    <string>CheckBox</string>
    <key>ComboBox</key>
    <string>ComboBox</string>
    <key>DataGrid</key>
    <string>DataGrid</string>
    <key>DataItem</key>
    <string>DataItem</string>
    <key>Document</key>
    <string>Document</string>
    <key>Edit</key>
    <string>Edit</string>
    <key>Group</key>
    <string>Group</string>
    <key>Header</key>
    <string>Header</string>
    <key>HeaderItem</key>
    <string>HeaderItem</string>
    <key>Hyperlink</key>
    <string>Hyperlink</string>
    <key>Image</key>
    <string>Image</string>
    <key>list</key>
    <string>list</string>
    <key>ListItem</key>
    <string>ListItem</string>
    <key>Menu</key>
    <string>Menu</string>
    <key>MenuBar</key>
    <string>MenuBar</string>
    <key>MenuItem</key>
    <string>MenuItem</string>
    <key>Pane</key>
    <string>Pane</string>
    <key>ProgressBar</key>
    <string>ProgressBar</string>
    <key>RadioButton</key>
    <string>RadioButton</string>
    <key>ScrollBar</key>
    <string>ScrollBar</string>
    <key>Separator</key>
    <string>Separator</string>
    <key>Slider</key>
    <string>Slider</string>
    <key>Spinner</key>
    <string>Spinner</string>
    <key>SplitButton</key>
    <string>SplitButton</string>
    <key>StatusBar</key>
    <string>StatusBar</string>
    <key>Tab</key>
    <string>Tab</string>
    <key>TabItem</key>
    <string>TabItem</string>
    <key>Table</key>
    <string>Table</string>
    <key>Text</key>
    <string>Text</string>
    <key>Thumb</key>
    <string>Thumb</string>
    <key>TitleBar</key>
    <string>TitleBar</string>
    <key>ToolBar</key>
    <string>ToolBar</string>
    <key>ToolTip</key>
    <string>ToolTip</string>
    <key>Tree</key>
    <string>Tree</string>
    <key>TreeItem</key>
    <string>TreeItem</string>
    <key>Unknown</key>
    <string>Unknown</string>
    <key>Window</key>
    <string>Window</string>
  </dict>
</dict>
</plist>
