<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%thread] %5level %7logger - %message%newline" />
    </layout>

    <filter type="log4net.Filter.LoggerMatchFilter">
      <!-- ...but not the XML of it -->
      <loggerToMatch value="XML" />
      <acceptOnMatch value="false" />
    </filter>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <!-- ...but not the UIAction of it -->
      <loggerToMatch value="UIAction" />
      <acceptOnMatch value="false" />
    </filter>

    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{LogFileName}" />
    <appendToFile value="true" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="1" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
    </layout>
    <filter type="log4net.Filter.LoggerMatchFilter">
      <!-- ...but not the rest of it -->
      <loggerToMatch value="XML" />
      <acceptOnMatch value="false" />
    </filter>
  </appender>

  <appender name="XML" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="%property{XMLFileName}" />
    <appendToFile value="true" />
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="1" />

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="Console" />
    <appender-ref ref="RollingFile" />
  </root>
  <logger name="XML">
    <level value="DEBUG" />
    <appender-ref ref="XML" />
  </logger>
</log4net>